 *{
    cursor: url("https://i.imgur.com/hwx9p52.png"), auto;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("https://i.imgur.com/eBxcX8Y.jpg");
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}

.intro {
    font-size: 65px;
    font-style: italic;
    color: ##9d86e3;
   
text-shadow: 4px 4px 12px rgba(157,134,227,0.6);
}

.intro2 {
    font-size: 25px;
    font-style: italic;
    color: ##9d86e3;
    
text-shadow: 4px 4px 12px rgba(157,134,227,0.6);
}

#home {
    font-size: 65px;
    font-style: italic;
    color: ##9d86e3;
background: transparent;
text-shadow: 4 4 12 rgba(157,134,227,0.6);
}

.transparentBG {
    background-color: #e37259;
  }

.ulFontColor {
    color: #e37259;
}


#contact, #about, #home {
    font-size: 35px;
    font-style: italic;
    color: #e37259;
background: transparent;
text-shadow: 4px 4px 12px rgba(157,134,227,0.6);
}

.tacoButton {
    background-color: #e37259;
    font-size: x-large

}

.btn {
    background-color: #e37259;
    font-size: x-large;
}

#map {
    align-items: center;
    height: 400px;
    border: 1px solid #333;
    margin-top: 0.6em;
  }

.map {
    align-items: center;
}
